<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= TranslationService.t('welcome-title') %></h1>
  </div>
<div class="row equal">
  <div class="col-md-1">
  </div>
    <div class="col-md-10 homepanel">
      <div class="panel panel-default">
         <div class="panel-heading text-center">
             <span class="panel-title">
               <div><img class="overlay" src="<%= BrandingService.getBrandAndPortalPath(req) %>/images/checklist.png" alt="@document.icon" width="43px" height="30px"></div>
               <%= TranslationService.t('menu-plan')%>
             </span>
         </div>
         <div class="panel-body">
           <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/rdmp/edit"><%= TranslationService.t('create-rdmp')%></a></div>
           <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/dashboard/rdmp"><%= TranslationService.t('edit-dashboard-rdmp')%></a></div>
           <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/transfer/rdmp"><%= TranslationService.t('transfer-ownership-rdmp')%></a></div>
         </div>
      </div>
    </div>

</div>
<!-- simple jquery script to make all the panels equal height -->
<script>
  $( document ).ready(function() {
    panels = $('.homepanel .panel-default .panel-body');
    maxHeight = Math.max.apply(
      Math, panels.map(function() {
        return $(this).height();
        }).get());
    panels.height(maxHeight);
  });
</script>
</div>
