<% include ../../functions %>
<!DOCTYPE html>
<html lang="en">

<head>
  <base href="<%= BrandingService.getBrandAndPortalPath(req) %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%=typeof title == 'undefined' ? TranslationService.t('default-title') : title%>
  </title>

  <!-- Google Fonts -->
  <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Custom CSS -->

  <link rel="stylesheet" href="<%= BrandingService.getBrandAndPortalPath(req) %>/styles/style.css">
  <link rel="stylesheet" href="<%= BrandingService.getBrandAndPortalPath(req) %>/styles/responsive.css">
  <link rel="stylesheet" href="<%= BrandingService.getBrandAndPortalPath(req) %>/styles/theme.css">

  <!-- Latest jQuery form server -->
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <!-- Bootstrap JS form CDN -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="header-area">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="user-menu">
            <ul>
              <% if (!req.isAuthenticated())  { %>
                <li><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/user/login"><i class="fa fa-user"></i><%= TranslationService.t('menu-login') %></a></li>
              <% } else { %>
                <li><i class="fa fa-user"></i>&nbsp;<%= TranslationService.t('menu-welcome-text') %>
                  <%= req.user.name %>
                </li>
                <li><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/user/logout"><%= TranslationService.t('menu-logout') %></a></li>
              <% } %>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End header area -->

  <div class="site-branding-area">
    <div class="container">
      <div class="row" style="position:relative">
        <div class="col-sm-10">
          <div class="logo" style="display:inline;">
            <h1>
              <img src="<%= BrandingService.getBrandAndPortalPath(req) %>/images/csiro-logo.png" alt="<%= TranslationService.t('logo-alt-text') %>"/>
            </h1>
          </div>
        </div>

        <div class="col-sm-2 search-box">
        </div>
      </div>
    </div>
  </div>
  <!-- End site branding area -->

  <div class="mainmenu-area">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only"><%= TranslationService.t('menu-toggle')%></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if (req.isAuthenticated()) {
              %>
              <li class="active"><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/researcher/home"><%= TranslationService.t('menu-home')%></a></li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= TranslationService.t('menu-plan-nav')%><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/rdmp/edit"><%= TranslationService.t('create-rdmp')%></a></li>
                  <li><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/dashboard/rdmp"><%= TranslationService.t('edit-dashboard-rdmp')%></a></li>
                  <li><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/transfer/rdmp"><%= TranslationService.t('transfer-ownership-rdmp')%></a></li>
                </ul>
              </li>
              <%
                if ( hasRole(req,'Admin') || hasRole(req,'Librarians')) {%>
              <li class="dropdown">
                <a href="<%= BrandingService.getBrandAndPortalPath(req) %>/admin"><%= TranslationService.t('menu-admin')%></a>
              </li>
            <% } %>
            <li class="dropdown">
              <form class="nav-search-bar form-inline" method="get" action="<%= BrandingService.getBrandAndPortalPath(req) %>/record/search" name="form">
                <div class="input-group">
                  <input name="q" type="text" class="form-control" placeholder="<%= TranslationService.t('record-search-basic-search-placeholder') %>" aria-label="<%= TranslationService.t('record-search-basic-search-placeholder') %>">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onClick="form.submit()"><%= TranslationService.t("record-search-basic-search") %></button>
                  </span>
                </div>
              </form>
            </li>
            <%  } else { %>
              <li class="active"><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/home"><%= TranslationService.t('menu-home') %></a></li>
            <% } %>

          </ul>

        </div>
      </div>
    </div>
  </div>
  <!-- End mainmenu area -->

<% if (typeof title!== 'undefined') { %>
  <div class="product-big-title-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="product-bit-title text-center">
            <h2>Researcher Dashboard default</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
<% } %>

  <div class="single-product-area">
    <%- body %>
  </div>



  <div class="footer-bottom-area navbar-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="copyright">
            <p>&copy; 2017 Queensland Cyberinfrastructure Foundation</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <!--SCRIPTS END-->
</body>
<% if (res.statusCode <= 400 && sails.config.ng2.use_bundled) { %>
  <!-- NG2 bundled scripts section, expects a 'ng2_apps' local containing the list of apps to load for this view -->
  <%- partial ('../../misc/ng2-apps.ejs', {apps: ng2_apps}) %>
<% } %>
</html>
